################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GcproExtensionApp/FileContentIndex/8c438dba-e0eb-44c7-8bd2-9b03241c5809.vsidx
/.vs/GcproExtensionApp/FileContentIndex/7ae45209-1e36-4970-bb62-47655bef8090.vsidx
